.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log


//
关于今早缓存的那个问题，年前有天早上我跟您提过一个解决方案，方法就是获取最新的版本号,用版本号当作参数,版本号相同就用缓存,版本号变了就会获取新的。可以避免缓存导致的页面异常，也不用每次手动改参数，您当时没确定是否要采用，您看要不要我再跟您说一下，如可以下个版本采用这用方式
