.box-bg {
  position: fixed;
  height: 0;
  width: 6.4rem;
  top: 0;
  background: transparent;
  transition: background 0.5s, height 0s ease;
  -webkit-transition: background 0.5s, height 0s ease;
  z-index: 97; }

.info-pop-box {
  position: fixed;
  height: 4.8rem;
  width: 6.4rem;
  background: white;
  bottom: -6.4rem;
  transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
  z-index: 98; }
  .info-pop-box .title-box {
    height: 0.8rem;
    line-height: 0.8rem;
    width: 100%;
    text-align: center;
    font-size: 0.21rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem; }
    .info-pop-box .title-box .title {
      width: 0.7rem;
      color: #999;
      text-align: left; }
    .info-pop-box .title-box .songname {
      color: #999;
      float: left;
      width: 5.3rem;
      height: 0.8rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left; }
    .info-pop-box .title-box .opacity0 {
      opacity: 0; }
  .info-pop-box .list {
    position: relative;
    padding-left: 0.2rem;
    height: 5.7rem;
    width: 100%;
    overflow: auto; }

.play-pop {
  bottom: 0; }

.bg-pop {
  background: rgba(0, 0, 0, 0.2);
  height: 100%; }

.info-min-size {
  height: 3.21rem; }

.info-item {
  height: 0.8rem;
  width: 100%; }
  .info-item .hide {
    display: none; }
  .info-item .sprites {
    width: 0.4rem;
    height: 0.4rem;
    overflow: hidden;
    box-sizing: border-box;
    background: transparent url("http://on7hxaasw.bkt.clouddn.com/icon-list.png?v=03291620") 0 0 no-repeat;
    background-size: 5.76rem 5.76rem;
    float: left;
    margin-top: 0.2rem; }
  .info-item .ic_next {
    background-position: 0% 17.97101%; }
  .info-item .ic_add {
    background-position: 8.69565% 17.97101%; }
  .info-item .ic_download {
    background-size: 5.904rem 5.904rem;
    background-position: 35.7971% 17.97101%; }
  .info-item .ic_singer {
    background-position: 17.97101% 17.97101%; }
  .info-item .ic_cd {
    background-size: 5.616rem 5.616rem;
    background-position: 26.95652% 17.97101%; }
  .info-item .con {
    font-size: 0.24rem;
    line-height: 0.8rem;
    margin-left: 0.5rem;
    height: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left; }
  .info-item .con:after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #d7d7d7;
    display: block;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background: #e0e0e0;
    clear: both; }

.playing-item:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  clear: both; }

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .item:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); }

  .playing-item:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); }

  .con:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .item:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

  .playing-item:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

  .con:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); } }

/*# sourceMappingURL=infoList.css.map */
