@import "../../css/wl-common";

.music-content {
  position: fixed;
  width: $pageWidth;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background: white;
  .header {
    position: absolute;
    height: 0.9rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 5;
    .back {
      width: 0.9rem;
      height: 0.9rem;
      padding-top: 0.18rem;
      padding-left: 0.2rem;
      float: left;
      .ic_back {
        width: 0.6rem;
        height: 0.6rem;
        background-size: $spriteRem/5*6 $spriteRem/5*6;
        @include bgPosition($spriteSize, $spriteSize, 60, 60, 475, 0);
      }
    }
    .title {
      float: left;
      width: 5.4rem;
      height: 100%;
      .songname {
        color: white;
        font-size: 0.28rem;
        height: 0.5rem;
        line-height: 0.6rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .singername {
        color: white;
        height: 0.3rem;
        line-height: 0.3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .header:after {
    @include split-line();
    background: #777777;

  }
  .bg-op {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 0;
    .bg {
      height: 110%;
      position: absolute;
      left: 50%;
      top: -5%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
    .blur {
      -webkit-filter: blur(30px); /* Chrome, Opera */
      -ms-filter: blur(30px);
      filter: blur(30px);
    }
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: -webkit-linear-gradient(transparent, transparent, black);
    }
  }
  .cd {
    position: relative;
    width: 4.96rem;
    height: 4.96rem;
    margin: 2rem auto 0 auto;
    z-index: 2;
    .cd-img {
      position: absolute;
      width: 3.02rem;
      height: 3.02rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: 2;
      border-radius: 50%;
    }
    .cd-side {
      position: absolute;
      width: 4.96rem;
      height: 4.96rem;
      background: url("../../image/disc.png");
      background-size: 4.96rem 4.96rem;
      z-index: 1;
    }
  }
  .needle {
    position: absolute;
    width: 1.68rem;
    height: 2.44rem;
    background: url("../../image/needle.png");
    background-size: 1.68rem 2.44rem;
    z-index: 4;
    top: 0.91rem;
    left: 2.9rem;
  }
  .ani {
    -webkit-animation: rotate 30s infinite linear;
    animation: rotate 30s infinite linear;
  }
  .progress-box {
    position: absolute;
    bottom: 1.8rem;
    .progress-bar {
      position: relative;
      height: 2px;
      width: 5rem;
      left: 0.7rem;
      background: #ddd;
      border-radius: 1px;
      margin-right: 0.04rem;
      .progress {
        height: 100%;
        background: $mainColor;
        border-radius: 1px 0 0 1px;
      }
      .point {
        position: absolute;
        width: 6px;
        height: 6px;
        background: $mainColor;
        border-radius: 50%;
        top: -2px;
      }
    }
  }
  .control-box {
    width: $pageWidth;
    height: 1.5rem;
    position: absolute;
    bottom: 0;
    .play {
      position: absolute;
      height: 1.05rem;
      width: 1.05rem;
      background-size: $spriteRem/5.0*10 $spriteRem/5.0*10;
      @include bgPosition($spriteSize, $spriteSize, 100, 100, 0, 56);
      top: 0.75rem;
      left: 3.2rem;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    .pause {
      position: absolute;
      height: 1.05rem;
      width: 1.05rem;
      background-size: $spriteRem/5.0*10 $spriteRem/5.0*10;
      @include bgPosition($spriteSize, $spriteSize, 100, 100, 56, 56);
      top: 0.75rem;
      left: 3.2rem;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    .last-song {
      position: absolute;
      height: 0.75rem;
      width: 0.75rem;
      background-size: $spriteRem/5.0*7.5 $spriteRem/5.0*7.5;
      @include bgPosition($spriteSize, $spriteSize, 75, 75, 175, 59);
      top: 0.75rem;
      left: 1.8rem;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    .next-song {
      position: absolute;
      height: 0.75rem;
      width: 0.75rem;
      background-size: $spriteRem/5.0*7.5 $spriteRem/5.0*7.5;
      @include bgPosition($spriteSize, $spriteSize, 75, 75, 117, 59);
      top: 0.75rem;
      left: 4.6rem;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    .mode {
      position: absolute;
      height: 0.5rem;
      width: 0.5rem;
      top: 0.75rem;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      background-size: $spriteRem $spriteRem;
      left: .5rem;
    }
    .m_0 {
      @include bgPosition($spriteSize, $spriteSize, 50, 50, 421, 59);
    }
    .m_1 {
      @include bgPosition($spriteSize, $spriteSize, 50, 50, 361, 59);
    }
    .m_2 {
      @include bgPosition($spriteSize, $spriteSize, 50, 50, 295, 59);
    }
    .menu {
      position: absolute;
      height: 0.5rem;
      width: 0.5rem;
      top: 0.75rem;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      background-size: $spriteRem $spriteRem;
      right: .1rem;
      @include bgPosition($spriteSize, $spriteSize, 50, 50, 240, 59);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .sprites {
    overflow: hidden;
    box-sizing: border-box;
    background: transparent url('../../image/icon-list.png') 0 0 no-repeat;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .header:after {
      @include split-line-rate($line-R3);
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .header:after {
      @include split-line-rate($line-R2);
    }
  }
}
