@import "../../css/wl-common";

.owe-item {
  background: #fff;
  border: 1px #2aa8e0 solid;
  border-radius: 0.08rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0.2rem 0.1rem;

  .line1 {
    height: 0.9rem;
    line-height: 0.9rem;
  }
  .line2 {
    height: 0.6rem;
    line-height: 0.6rem;
    color: #00bb9c;
  }
  .line3 {
    height: 0.6rem;
    line-height: 0.6rem;
    color: #cc0000;
  }

  .name {
    font-size: 0.35rem;
    color: #535393;
  }
  .push-div {
    width: 30%;
    height: 100%;
    text-align: center
  }

  .push-btn {
    height: 0.65rem;
    line-height: 0.65rem;
    width: 1.3rem;
    background: #2fcdfe;
    color: white;
    float: right;
    margin-top: 0.125rem;
    border-radius: 0.08rem;
    font-size: 0.28rem;
  }

  .cycle {
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 0.28rem;
  }
  .div_1_3 {
    width: 33%;
    height: 100%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .text-center {
    text-align: center;
  }
  .split-line {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #2aa8e0;
    display: block;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

.owe-item:active {
  background: #eee;
}

.hide {
  display: none;
}

