.play-bar {
  height: 1.4rem;
  width: 6.4rem;
  position: fixed;
  z-index: 90;
  bottom: -0.02rem;
  transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s; }
  .play-bar .cycle {
    width: 1.2rem;
    height: 1.2rem;
    bottom: 0.1rem;
    margin-left: 0.1rem;
    border-radius: 50%;
    background: white;
    position: absolute;
    z-index: 97;
    -webkit-box-shadow: 0 0 0.15rem #888;
    -moz-box-shadow: 0 0 0.15rem #888;
    box-shadow: 0 0 0.15rem #888;
    padding: 0.02rem; }
    .play-bar .cycle #album {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
    .play-bar .cycle .ani {
      -webkit-animation: rotate 40s infinite linear;
      animation: rotate 40s infinite linear; }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .play-bar .panel {
    height: 1.2rem;
    bottom: -1px;
    background: white;
    position: absolute;
    z-index: 95;
    box-shadow: 0 0 0.15rem #888; }
    .play-bar .panel .box {
      height: 100%;
      padding: 0.15rem 0.1rem 0.1rem 0.1rem;
      width: 5rem;
      margin-left: 1.4rem; }
      .play-bar .panel .box .progress-bar {
        height: 2px;
        background: #ddd;
        position: relative;
        border-radius: 1px;
        margin-right: 0.04rem; }
        .play-bar .panel .box .progress-bar .progress {
          height: 100%;
          background: #e61624;
          border-radius: 1px 0 0 1px; }
        .play-bar .panel .box .progress-bar .point {
          position: absolute;
          width: 6px;
          height: 6px;
          background: #e61624;
          border-radius: 50%;
          top: -2px; }
      .play-bar .panel .box .song {
        width: 2.5rem;
        height: 100%;
        float: left; }
        .play-bar .panel .box .song .song-name {
          font-size: 0.24rem;
          margin-top: 0.15rem;
          color: #0e0e0e;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .play-bar .panel .box .song .singer-name {
          font-size: 0.2rem;
          margin-top: 0.04rem;
          color: #808080; }
      .play-bar .panel .box .control {
        width: 2.3rem;
        height: 100%;
        line-height: 1.4rem;
        float: left; }
        .play-bar .panel .box .control .sprites {
          width: 0.5rem;
          height: 0.5rem;
          overflow: hidden;
          box-sizing: border-box;
          background: transparent url("http://on7hxaasw.bkt.clouddn.com/icon-list.png") 0 0 no-repeat;
          background-size: 7.2rem 7.2rem;
          float: left;
          margin-top: 0.26rem;
          margin-left: 0.2rem; }
        .play-bar .panel .box .control .ic_menu {
          background-position: 0% 0%; }
        .play-bar .panel .box .control .ic_next {
          background-position: 8.95522% 0%; }
        .play-bar .panel .box .control .ic_pause {
          background-position: 17.91045% 0%; }
        .play-bar .panel .box .control .ic_play {
          background-position: 26.86567% 0%; }

.play-bar-down {
  bottom: -1.4rem; }

.split-line {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.split-line-v {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  color: white;
  float: left; }

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .rank-item:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); }

  .split-line {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .rank-item:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

  .split-line {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); } }

/*# sourceMappingURL=playBar.css.map */
