@import "../../css/wl-common";

.playing-item {
  height: 0.8rem;
  width: 100%;
  .song-name {
    font-size: 0.26rem;
    color: $textRightColor;
    width: 3.6rem;
    float: left;
    margin-top: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .playing-name {
    width: 3.25rem;
  }
  .singer-name {
    font-size: 0.20rem;
    color: #999;
    width: 1.3rem;
    float: left;
    margin-top: 0.24rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon-box {
    width: 0.5rem;
    float: right;
    height: 100%;
  }
  .icon {
    font-family: Muiicons;
    font-size: 0.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #888;
    margin-top: 0.15rem;
  }
  .hide {
    display: none;
  }
  .red {
    color: $red;
  }
  .playing-song {
    width: 0.35rem;
    float: left;
    height: 100%;
  }
  .sprites {
    width: 0.3rem;
    height: 0.3rem;
    overflow: hidden;
    box-sizing: border-box;
    background: transparent url('../../image/icon-list.png') 0 0 no-repeat;
    background-size: $spriteRem/5*3 $spriteRem/5*3;
    float: left;
    margin-top: 0.29rem;
  }

  .ic_menu {
    @include bgPosition($spriteSize, $spriteSize, 30, 30, 310, 0);
  }
}

.playing-item:after {
  @include split-line();
  clear: both;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .playing-item:after {
    @include split-line-rate($line-R3);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .playing-item:after {
    @include split-line-rate($line-R2);
  }
}

