.box-bg {
  position: fixed;
  height: 0;
  width: 6.4rem;
  top: 0;
  background: transparent;
  transition: background 0.5s, height 0s ease;
  -webkit-transition: background 0.5s, height 0s ease;
  z-index: 97; }

.play-pop-box {
  position: fixed;
  height: 6.4rem;
  width: 6.4rem;
  background: white;
  bottom: -6.4rem;
  transition: bottom 0.5s;
  -webkit-transition: bottom 0.5s;
  z-index: 98; }
  .play-pop-box .title-box {
    height: 0.8rem;
    line-height: 0.8rem;
    width: 100%;
    text-align: center;
    font-size: 0.28rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem; }
    .play-pop-box .title-box .title {
      float: left;
      width: 4.79rem; }
      .play-pop-box .title-box .title .count {
        font-size: 0.22rem; }
    .play-pop-box .title-box .cleanList {
      width: 0.6rem;
      font-size: 0.22rem;
      text-align: right;
      color: #999; }
    .play-pop-box .title-box .opacity0 {
      opacity: 0; }
  .play-pop-box .list {
    position: relative;
    padding-left: 0.2rem;
    height: 5.7rem;
    width: 100%;
    overflow: auto; }

.play-pop {
  bottom: 0; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.bg-pop {
  background: rgba(0, 0, 0, 0.2);
  height: 100%; }

.playing-item {
  height: 0.8rem;
  width: 100%; }
  .playing-item .song-name {
    font-size: 0.24rem;
    color: #0e0e0e;
    width: 3.8rem;
    float: left;
    margin-top: 0.28rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .playing-item .playing-name {
    width: 3.45rem; }
  .playing-item .singer-name {
    font-size: 0.20rem;
    color: #999;
    width: 1.3rem;
    float: left;
    margin-top: 0.3rem;
    padding-left: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .playing-item .icon-box {
    width: 0.5rem;
    float: right;
    height: 100%; }
  .playing-item .hide {
    display: none; }
  .playing-item .red {
    color: #e61624; }
  .playing-item .playing-song {
    width: 0.35rem;
    float: left;
    height: 100%; }
  .playing-item .sprites {
    width: 0.3rem;
    height: 0.3rem;
    overflow: hidden;
    box-sizing: border-box;
    background: transparent url("../../image/icon-list.png") 0 0 no-repeat;
    background-size: 4.32rem 4.32rem;
    float: left;
    margin-top: 0.29rem; }
  .playing-item .ic_menu {
    background-position: 44.92754% 0%; }
  .playing-item .ic_close {
    background-position: 53.62319% 0%;
    float: right;
    margin-right: 0.2rem; }

.playing-item:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  clear: both; }

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .item:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); }

  .playing-item:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .item:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

  .playing-item:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); } }

/*# sourceMappingURL=playList.css.map */
