@import "../../css/wl-common";

.rank-item {
  height: 1rem;
  background: #fff;
  padding-left: 0.2rem;
  padding-right: 0.2rem;

  .line1 {
    height: 100%;
    width: 4.4rem;
    float: left;
  }

  .songname {
    font-size: 0.27rem;
    color: $textRightColor;
    width: 100%;
    height: 0.5rem;
    padding-top: 0.14rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .singername {
    font-size: 0.23rem;
    color: #808080;
    width: 100%;
    height: 0.5rem;
    padding-top: 0.07rem;
  }

  .line2 {
    height: 100%;
    width: 1.59rem;
    float: right;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .split-line {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #d7d7d7;
    display: block;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

.rank-item:active {
  background: #eee;
}

.rank-item:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.rank-item:first-child:after {
  content: '';
  height: 0;
  width: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .rank-item:after {
    @include split-line-rate($line-R3);
  }

  .split-line {
    @include split-line-rate($line-R3);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .rank-item:after {
    @include split-line-rate($line-R2);
  }

  .split-line {
    @include split-line-rate($line-R2);
  }
}
