@import "wl-common";

body {
  width: $pageWidth;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

::-webkit-inner-spin-button {
  visibility: hidden;
}

::-webkit-calendar-picker-indicator {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px #fff, 0 1px #eee;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
  color: #666;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none !important;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text] {
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-appearance: none;
  border: 0 none;
  background-color: white;
  outline: none;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

.split-line {
  @include split-line();
}

.split-line-v {
  @include split-line-v();
  color: white;
  float: left;
}

.line-top-border:after {
  @include split-line();
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

.bg-color {
  background: $bgColor;
}

.bg-white {
  background: #fff;
}

ol, ul:not(.mui-pciker-list) {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.mui-content {
  background-color: $bgColor;
}

.mui-popup-backdrop {
  z-index: 999998;
}

.mui-popup {
  z-index: 999999;
}

.mui-pull {
  position: relative;
  bottom: 0;
  height: 0.6rem;
  line-height: 0.6rem;
}

.mui-dtpicker {
  opacity: 0;
}

.mui-dtpicker.mui-active {
  opacity: 1;
}

.mui-poppicker {
  opacity: 0;
}

.mui-poppicker.mui-active {
  opacity: 1;
}

.loading {
  .mui-visibility {
    display: inline-block;
  }
  .mui-pull-caption-refresh {
    display: inline;
  }
  .mui-pull-caption-nomore {
    display: none;
  }
}

.finish {
  .mui-visibility {
    display: none;
  }
  .mui-pull-caption-refresh {
    display: none;
  }
  .mui-pull-caption-nomore {
    display: inline;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .split-line {
    @include split-line-rate($line-R2);
  }
  .split-line-v {
    @include split-line-rate-v($line-R2);
  }
  .line-top-border:after {
    @include split-line-rate($line-R2);
  }
  .line:after {
    @include split-line-rate($line-R2);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .split-line {
    @include split-line-rate($line-R3);
  }
  .split-line-v {
    @include split-line-rate-v($line-R3);
  }
  .line-top-border:after {
    @include split-line-rate($line-R3);
  }
  .line:after {
    @include split-line-rate($line-R3);
  }
}

@media (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iphone5 */

}

@media (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iphone6 */

}

@media (device-width: 414px) and (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iphone6 Plus */

}
