@charset "UTF-8";
html {
  background: #f0f4f3; }

body {
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-tap-highlight-color: transparent;
  width: 6.4rem;
  margin: 0 auto;
  background: #f0f4f3;
  font-size: 0.24rem; }

* {
  box-sizing: border-box; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

::-webkit-inner-spin-button {
  visibility: hidden; }

::-webkit-scrollbar {
  width: 0; }

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none !important; }

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text] {
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-appearance: none;
  border: 0 none;
  background-color: white;
  outline: none;
  padding: 0;
  margin: 0; }

input:focus {
  outline: none; }

#app {
  width: 6.4rem;
  margin: 0 auto;
  padding: 0; }

.split-line {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.split-line-v {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  color: white;
  float: left; }

.line-top-border:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #d7d7d7;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.pop {
  bottom: 0; }

.op-hide {
  opacity: 0;
  z-index: 0; }

.transparent {
  opacity: 0 !important;
  z-index: 0 !important;
  height: 0 !important; }

.clear {
  clear: both; }

.bg-color {
  background: #f0f4f3; }

.bg-white {
  background: #fff; }

.header {
  position: absolute;
  height: 0.7rem;
  width: 6.4rem;
  z-index: 5; }
  .header .back {
    width: 0.7rem;
    height: 0.7rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
    float: left; }
    .header .back .ic_back {
      width: 0.5rem;
      height: 0.5rem;
      background-size: 6.48rem 6.48rem;
      background-position: 72.08955% -0.74627%; }
  .header .sprites {
    overflow: hidden;
    box-sizing: border-box;
    background: transparent url("http://on7hxaasw.bkt.clouddn.com/icon-list.png?v=03231037") 0 0 no-repeat; }
  .header .title {
    float: left;
    width: 5.4rem;
    height: 100%;
    margin-left: 0.2rem; }
    .header .title .singername {
      font-size: 0.3rem;
      color: white;
      line-height: 0.7rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.weixin-android .header .title {
  display: none; }

.weixin-ios .header {
  display: none; }

.position {
  height: 1.4rem;
  background: #f0f4f3; }

ol, ul:not(.mui-pciker-list) {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

.mui-content {
  background-color: #f0f4f3; }

.mui-popup-backdrop {
  z-index: 999998; }

.mui-popup {
  z-index: 999999; }

.mui-pull {
  position: relative;
  bottom: 0;
  height: 0.6rem;
  line-height: 0.6rem; }

.mui-dtpicker {
  opacity: 0; }

.mui-dtpicker.mui-active {
  opacity: 1; }

.mui-poppicker {
  opacity: 0; }

.mui-poppicker.mui-active {
  opacity: 1; }

.loading .mui-visibility {
  display: inline-block; }
.loading .mui-pull-caption-refresh {
  display: inline; }
.loading .mui-pull-caption-nomore {
  display: none; }

.finish .mui-visibility {
  display: none; }
.finish .mui-pull-caption-refresh {
  display: none; }
.finish .mui-pull-caption-nomore {
  display: inline; }

.mui-popup-backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4); }

.mui-popup-backdrop.mui-active {
  opacity: 1; }

.mui-popup {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  display: none;
  overflow: hidden;
  width: 270px;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
  transform: translate3d(-50%, -50%, 0) scale(1.185);
  text-align: center;
  opacity: 0;
  color: #000;
  border-radius: 13px; }

.mui-popup.mui-popup-in {
  display: block;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
  opacity: 1; }

.mui-popup.mui-popup-out {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
  opacity: 0; }

.mui-popup-inner {
  position: relative;
  padding: 15px;
  border-radius: 13px 13px 0 0;
  background: rgba(255, 255, 255, 0.95); }

.mui-popup-inner:after {
  position: absolute;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  background-color: rgba(0, 0, 0, 0.2); }

.mui-popup-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center; }

.mui-popup-title + .mui-popup-text {
  font-family: inherit;
  font-size: 14px;
  margin: 5px 0 0; }

.mui-popup-buttons {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.mui-popup-button {
  font-size: 17px;
  line-height: 44px;
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #007aff;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-flex: 1; }

.mui-popup-button:after {
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  display: block;
  width: 1px;
  height: 100%;
  content: '';
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  background-color: rgba(0, 0, 0, 0.2); }

.mui-popup-button:first-child {
  border-radius: 0 0 0 13px; }

.mui-popup-button:first-child:last-child {
  border-radius: 0 0 13px 13px; }

.mui-popup-button:last-child {
  border-radius: 0 0 13px; }

.mui-popup-button:last-child:after {
  display: none; }

.mui-popup-button.mui-popup-button-bold {
  font-weight: 600; }

.mui-popup-input input {
  font-size: 14px;
  width: 100%;
  height: 26px;
  margin: 15px 0 0;
  padding: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background: #fff; }

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .split-line {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

  .split-line-v {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5); }

  .line-top-border:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); }

  .line:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5); } }
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .split-line {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); }

  .split-line-v {
    -webkit-transform: scaleX(0.33);
    transform: scaleX(0.33); }

  .line-top-border:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); }

  .line:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33); } }
@media (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iphone5 */ }
@media (device-width: 375px) and (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iphone6 */ }
@media (device-width: 414px) and (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  /* iphone6 Plus */ }

/*# sourceMappingURL=app.css.map */
