@import "../../css/wl-common";

.album-list {
  background: $bgColor;
  position: absolute;
  width: 6.4rem;
  margin-top: $tabHei;
  .title {
    margin: 0.3rem 0.2rem 0 0.2rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.27rem;
    border-left: 0.05rem solid $mainColor;
    padding-left: 0.1rem;
  }
  .list {
    margin: 0.3rem 0.1rem 0 0.1rem;
    background: $bgColor;
    $wid: 2.9rem;
    .item {
      position: relative;
      height: 3.85rem;
      display: inline-block;
      margin: 0 0.1rem 0.3rem 0.1rem;
      background: #efeff4;
      overflow: hidden;
      width: $wid;
      background: $bgColor;
      img {
        height: $wid;
        width: $wid;
      }
      .album-name{
        width: $wid;
        max-height: 0.62rem;
        text-align: center;
        font-size: 0.24rem;
        overflow: hidden;
      }
      .singer {
        width: $wid;
        text-align: center;
        font-size: 0.2rem;
        color: #aaa;
      }
    }
  }
}
