@import "../../css/wl-common";

.album-content {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  background: $bgColor;
  width: $pageWidth;
  .banner {
    position: relative;
    height: 4rem;
    .blur {
      -webkit-filter: blur(40px);
      -ms-filter: blur(40px);
      filter: blur(40px);
    }
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    .float-div {
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(top, rgba(200, 200, 200, 0.6), rgba(200, 200, 200, 0.6));
    }

    .info {
      position: absolute;
      width: $pageWidth;
      height: 100%;
      color: white;
      padding: 0.8rem 0 0 0.4rem;
      .album-pic {
        position: absolute;
        width: 2rem;
        height: 2rem;
      }
      .album-back{
        position: absolute;
        width: 2.264rem;
        height: 2rem;
      }
      .detail {
        display: inline-block;
        width: 3rem;
        height: 2.1rem;
        margin-left: 2.5rem;
        .album-name {
          font-size: 0.28rem;
          max-height: 0.8rem;
          overflow: hidden;
        }
        .singer {
          margin-top: 0.2rem;
          color: #eee;
          height: 0.35rem;
          font-size: 0.22rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .date {
          margin-top: 0.1rem;
          color: #eee;
          height: 0.35rem;
          font-size: 0.22rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

  }
  .singer-img {
    width: 6.4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .list {
    background: $bgColor;
  }
}

