@import "../../css/wl-common";

.mui-popup-backdrop {
  z-index: 999998;
}

.mui-popup {
  z-index: 999999;
}

.split-line {
  @include split-line();
}

.split-line-v {
  @include split-line-v();
  color: white;
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

::-webkit-inner-spin-button {
  visibility: hidden;
}

::-webkit-calendar-picker-indicator {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px #fff, 0 1px #eee;
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
  color: #666;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none !important;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text] {
  font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-appearance: none;
  border: 0 none;
  background-color: white;
  outline: none;
  font-size: 0.3rem;
}

input:focus {
  outline: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .split-line {
    @include split-line-rate($line-R3);
  }
  .split-line-v {
    @include split-line-rate-v($line-R3);
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .split-line {
    @include split-line-rate($line-R2);
  }
  .split-line-v {
    @include split-line-rate-v($line-R2);
  }

}