@import "../../css/wl-common";

.list-box {
  .tab {
    width: 100%;
    height: 0.6rem;
    position: fixed;
    background: white;
    top: 0.8rem;
    z-index: 999997;
    .bar {
      height: 100%;
      line-height: 0.6rem;
      width: 1.06rem;
      text-align: center;
      font-size: 0.24rem;
      float: left;
      color: $textLeftColor;
      border-bottom: 1px $lineColor solid;
    }
    .bar:after {
      content: '';
      height: 4px;
      width: 100%;
      background-color: $lineColor;
      display: block;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      background: -webkit-linear-gradient($lineColor, white);
      background: -moz-linear-gradient($lineColor, white);
      background: linear-gradient($lineColor, white);
    }
    .active-bar {
      color: $mainColor;
    }
    .active-bar:after {
      content: '';
      height: 4px;
      width: 100%;
      background: -webkit-linear-gradient($mainColor, white);
      background: -moz-linear-gradient($mainColor, white);
      background: linear-gradient($mainColor, white);
      display: block;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
    }
  }
  .list {
    width: 6.4rem;
    margin-top: .6rem;
    margin-bottom: 1.4rem;
  }
  .mar-t0 {
    margin-top: 0;
  }
  .split-line {
    @include split-line();
  }
  .split-line-v {
    @include split-line-v();
    color: white;
    float: left;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .split-line {
    @include split-line-rate($line-R3);
  }
  .split-line-v {
    @include split-line-rate-v($line-R3);
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .split-line {
    @include split-line-rate($line-R2);
  }
  .split-line-v {
    @include split-line-rate-v($line-R2);
  }

}