@import "../../css/wl-common";

.main {
  $hei: 0.8rem;
  //box-shadow: 0 0 0.15rem #888;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: $bgColor;
  .title-bar {
    height: $hei;
    background: $mainColor;
    position: fixed;
    z-index: 18;
    width: $pageWidth;
    text-align: center;
    top: 0;
    .sprites {
      width: 0.5rem;
      height: 0.5rem;
      overflow: hidden;
      box-sizing: border-box;
      @include getBackground('icon-list.png?v=201705021112');
      background-size: $spriteRem $spriteRem;
      float: left;
      margin-top: 0.15rem;
      margin-left: 0.2rem;
    }

    .menu {
      @include bgPosition($spriteSize, $spriteSize, 50, 50, 182, 300);
    }
    .search {
      float: right;
      margin-left: 0;
      margin-right: 0.2rem;
      @include bgPosition($spriteSize, $spriteSize, 50, 50, 60, 300);
    }
    .title {
      display: inline-block;
      color: white;
      height: 100%;
      line-height: $hei;
    }
  }
  .tab {
    width: $pageWidth;
    height: $hei;
    position: fixed;
    background: white;
    top: $hei;
    z-index: 18;
    .bar {
      height: 100%;
      line-height: $hei;
      width: 1.27rem;
      text-align: center;
      font-size: 0.24rem;
      float: left;
      color: #606060;
      //border-bottom: 1px white solid;
    }
    .bar:first-child, .bar:last-child {
      width: 1.28rem;
    }
    .bar:after {
      content: '';
      height: $tabHei;
      width: 100%;
      background-color: $lineColor;
      display: block;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      background: -webkit-linear-gradient(white, white);
      background: -moz-linear-gradient(white, white);
      background: linear-gradient(white, white);
    }
    .active-bar {
      color: $mainColor;
    }
    .active-bar:after {
      content: '';
      height: $tabHei;
      width: 100%;
      background: -webkit-linear-gradient($mainColor, $mainColor);
      background: -moz-linear-gradient($mainColor, $mainColor);
      background: linear-gradient($mainColor, $mainColor);
      display: block;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
    }
  }
  .content {
    position: relative;
    padding-top: 2*$hei;
    z-index: 5;
  }
}
