@import "../../css/wl-common";

input[type=search] {
  background: rgba(221, 221, 221, 0.8);
  width: 6rem;
  margin: 0.2rem 0.2rem 0 0.2rem;
}

.mm-bg {
  $iconSize: 0.8rem;

  background-color: #3ac0b5;
  color: #404040;
  height: 100%;
  width: 100%;
  position: relative;
  .list-1 {
    width: 6rem;
    height: 1.8rem;
    background: rgba(221, 221, 221, 0.8);
    margin: 0.45rem auto;
  }
  .list-2 {
    width: 6rem;
    height: 1.4rem;
    margin: 0.2rem auto;
  }
  .rank {
    width: 2.9rem;
    height: 100%;
    float: left;
  }
  .playlist{
    width: 2.9rem;
    height: 100%;
    float: left;
  }
  .like {
    width: 2.9rem;
    height: 100%;
    float: left;
    background: rgba(221, 221, 221, 0.8);
  }
  .download {
    width: 2.9rem;
    height: 100%;
    float: right;
    background: rgba(221, 221, 221, 0.8);
  }
  .info {
    width: 1.8rem;
    color: #606060;
    height: 100%;
    float: left;
    .title {
      font-size: 0.36rem;
      margin: 0.3rem 0 0 0.2rem;
    }
    .number {
      font-size: 0.24rem;
      margin: 0.1rem 0 0 0.2rem;
    }
  }
  .icon {
    width: $iconSize;
    height: $iconSize;
    margin: 0.2rem 0.2rem 0 0;
    float: right;
  }
  .clear {
    clear: both;
  }
  .ic_like {
    background: url("../../image/music_icon_like.png");
    background-size: $iconSize $iconSize;
  }
  .ic_down {
    background: url("../../image/music_icon_downlist.png");
    background-size: $iconSize $iconSize;
  }
  .ic_rank{
    background: url("../../image/music_icon_rank.png");
    background-size: $iconSize $iconSize;
  }
  .ic_play{
    background: url("../../image/music_icon_playlist.png");
    background-size: $iconSize $iconSize;
  }
}



