@import "../../css/wl-common";

.my-info {
  $hei: 0.8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: $pageWidth;
  //box-shadow: 0 0 0.15rem #888;
  .title-bar {
    height: $hei;
    background: $mainColor;
    position: fixed;
    z-index: 18;
    width: $pageWidth;
    text-align: center;
    top: 0;
    .sprites {
      width: 0.5rem;
      height: 0.5rem;
      overflow: hidden;
      box-sizing: border-box;
      @include getBackground('icon-list.png?v=201705021112');
      background-size: $spriteRem $spriteRem;
      float: left;
      margin-top: 0.15rem;
      margin-left: 0.2rem;
    }
    .ic_back {
      background-size: $spriteRem/5*4.5 $spriteRem/5*4.5;
      @include bgPosition($spriteSize, $spriteSize, 50, 50, 483, -5);
      display: inline-block;
      margin: 0.15rem 0.2rem;
    }
    .search {
      float: right;
      margin-right: 0.2rem;
      margin-left: 0.2rem;
    }
    .title {
      display: inline-block;
      color: white;
      height: 100%;
      line-height: $hei;
    }
  }
  .header-box {
    width: $pageWidth;
    display: inline-block;
    .header {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      margin-top: 0.5rem;
      margin-left: 0.2rem;
      display: inline-block;
    }
    .ul {
      display: inline-block;
      width: 4.5rem;
      margin-left: 1.9rem;
      .info-item:first-child :after {
        @include split-line();
        color: $bgColor;
        background: $pageWidth;
        clear: both;
      }
    }
  }
  .list {
    position: relative;
    padding-left: 0.2rem;
    padding-bottom: 0.02rem;
    width: $pageWidth;
    overflow: auto;
    background: transparent;
    margin-top: $hei;
    .info-item {
      height: 0.8rem;
      width: 100%;
      .i-title {
        display: inline-block;
        width: 1.4rem;
        height: 100%;
        line-height: 0.8rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
      }
      .i-con {
        display: inline-block;
        width: 3rem;
        height: 100%;
        font-size: 0.24rem;
        line-height: 0.8rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
      }
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .info-item:after {
      @include split-line-rate($line-R3);
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item:after {
      @include split-line-rate($line-R2);
    }
  }
}
