@import "../../css/wl-common";

$iconShadow: 0 0 0.04rem #888;
$spriteSize: 720;

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.personal-con {
  .box-shadow {
    @include box-shadow(0 0 0.04rem #888888);
  }

  .split-line {
    @include split-line();
  }

  .split-line-v {
    @include split-line-v();
  }

  .place {
    height: 0.3rem;
    width: 100%;
  }

  .banner {
    position: relative;
    width: $pageWidth;
    height: 4.2rem;
    background: url('../image/banner.jpg');
    background-size: $pageWidth 4.2rem;
    padding-top: 0.4rem;

    .portrait-bg {
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.4);
      margin: 0 auto;
      position: relative;
    }

    .portrait {
      width: 1.62rem;
      height: 1.62rem;
      border-radius: 50%;
      background: #fff;
      border: 0.04rem solid #ffffff;
      margin-left: 0.04rem;
      margin-top: 0.04rem;
      position: absolute;
    }

    .name {
      color: #333;
      font-size: 0.28rem;
      margin-top: 0.1rem;
      text-align: center;
    }
  }

  .line-box1 {
    height: 1.2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    .icon-left {
      position: relative;
      width: 3.19rem;
      height: 100%;
      float: left;
      text-align: center;
    }
    .icon-right {
      position: relative;
      width: 3.19rem;
      height: 100%;
      float: right;
      text-align: center;
    }
    .split-line-v {
      float: left;
      background: rgba(255, 255, 255, 0.3);
    }

    .icon {
      height: 0.5rem;
      width: 0.5rem;
      display: block;
      margin: 0.19rem auto 0.05rem auto;
    }
    .icon-text {
      position: relative;
      font-size: 0.24rem;
      color: #fff;
    }
  }

  .line-box2 {
    height: 1.6rem;
    width: 100%;
    .icon-left {
      position: relative;
      width: 2.12rem;
      height: 100%;
      float: left;
      text-align: center;
    }
    .icon-right {
      position: relative;
      width: 2.12rem;
      height: 100%;
      float: right;
      text-align: center;
    }
    .split-line-v {
      float: left;
    }
    .icon {
      height: 0.5rem;
      width: 0.5rem;
      display: block;
      margin: 0.19rem auto 0.1rem auto;
    }
    .icon-text {
      position: relative;
      font-size: 0.23rem;
      color: $rowColor1;
    }
  }

  .info-div {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    height: 0.2rem
  }

  .info {
    font-size: 0.2rem;
    color: $textRightColor;
    text-align: center;
  }

  .sprites {
    height: 0.5rem;
    width: 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
    //background: transparent url('../image/icon-list-new.png') 0 0 no-repeat;
    background-size: 7.2rem 7.2rem;
    margin: 0.3rem auto 0.15rem auto;
  }

  .icon1 {
    margin: 0.14rem auto 0.1rem auto;
    @include bgPosition($spriteSize, $spriteSize, 50, 50, 0, 0);
  }

  .icon2 {
    width: 0.57rem;
    margin: 0.14rem auto 0.1rem auto;
    @include bgPosition($spriteSize, $spriteSize, 57, 50, 60, 0);
  }

  .icon3 {
    @include bgPosition($spriteSize, $spriteSize, 50, 50, 120, 0);
  }

  .icon4 {
    width: 0.57rem;
    @include bgPosition($spriteSize, $spriteSize, 50, 50, 180, 0);
  }

  .icon5 {
    @include bgPosition($spriteSize, $spriteSize, 50, 50, 240, 0);
  }

  .icon6 {
    @include bgPosition($spriteSize, $spriteSize, 50, 50, 300, 0);
  }

  .icon7 {
    @include bgPosition($spriteSize, $spriteSize, 50, 50, 360, 0);
  }

  .icon8 {
    width: 0.57rem;
    @include bgPosition($spriteSize, $spriteSize, 50, 50, 420, 0);
  }

  .line-top-border:after {
    @include split-line();
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .line-top-border:after {
    @include split-line-rate($line-R2);
  }

  .split-line {
    @include split-line-rate($line-R2);
  }
  .split-line-v {
    @include split-line-rate-v($line-R2);
  }

  .place:before {
    @include split-line-rate($line-R2);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .line-top-border:after {
    @include split-line-rate($line-R3);
  }

  .split-line {
    @include split-line-rate($line-R3);
  }
  .split-line-v {
    @include split-line-rate-v($line-R3);
  }

}



