@import "../../css/wl-common";

.rank-content {
  .banner {
    width: 6.4rem;
    overflow: hidden;
    img {
      width: 6.4rem;
    }
  }
  .list {
    .item {
      $size: 0.9rem;
      height: $size;
      .split-line {
        width: 5.5rem;
        margin-left: $size;
      }
      .i-title {
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        float: left;
        font-size: 0.28rem;
        color: gray;
      }
      .i-content {
        height: $size;
        width: 4.8rem;
        float: left;
        padding-right: 0.1rem;
        .songname {
          height: 0.5rem;
          line-height: 0.65rem;
          color: black;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

        }
        .singername {
          height: 0.4rem;
          line-height: 0.3rem;
          font-size: 0.2rem;
          color: #909090;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .red {
        color: red;
      }
    }
  }
}
