@import "../../css/wl-common";

.rank-content {
  position: relative;
  z-index: 5;
  background: $bgColor;
  .sprites {
    overflow: hidden;
    box-sizing: border-box;
    @include getBackground('icon-list.png?v=03231037');
  }
  .banner {
    width: 6.4rem;
    overflow: hidden;
    .banner-img {
      width: 6.4rem;
    }
  }
  .list {
    background: $bgColor;
    .item {
      $size: 0.9rem;
      height: $size;
      .split-line {
        width: 5.5rem;
        margin-left: $size;
      }
      .i-title {
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        float: left;
        font-size: 0.28rem;
        color: gray;
      }
      .i-content {
        height: $size;
        width: 4.8rem;
        float: left;
        padding-right: 0.1rem;
        .songname {
          height: 0.5rem;
          line-height: 0.65rem;
          color: black;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

        }
        .singername {
          height: 0.4rem;
          line-height: 0.3rem;
          font-size: 0.2rem;
          color: #909090;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .red {
        color: red;
      }
      .sprites {
        width: 0.4rem;
        height: 0.4rem;
        overflow: hidden;
        box-sizing: border-box;
        @include getBackground('icon-list.png');
        background-size: $spriteRem/5*4 $spriteRem/5*4;
        float: left;
      }
      .ic_menu {
        @include bgPosition($spriteSize, $spriteSize, 40, 40, 305, 0);
        margin-top: 0.25rem;
        margin-left: 0.25rem;
      }
      .ic_more {
        @include bgPosition($spriteSize, $spriteSize, 40, 40, 245, 0);
        float: right;
        margin-top: 0.25rem;
        margin-right: 0.15rem;
      }
    }
  }
}
