@import "../../css/wl-common";

.search-train {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }

  ::-webkit-inner-spin-button {
    visibility: hidden;
  }

  ::-webkit-calendar-picker-indicator {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px #fff, 0 1px #eee;
    background-color: #eee;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
    color: #666;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none !important;
  }

  input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text] {
    font-family: 'Microsoft YaHei', 'Hiragino Sans GB', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-appearance: none;
    border: 0 none;
    background-color: white;
    outline: none;
    font-size: 0.3rem;
  }

  input:focus {
    outline: none;
  }

  .tab {
    width: 100%;
    height: 0.54rem;
    padding-left: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .left-bar {
      width: 1.6rem;
      height: 0.54rem;
      line-height: 0.54rem;
      text-align: center;
      font-size: 0.24rem;
      border-radius: 0.06rem 0 0 0.06rem;
      float: left;
      border: 1px $mainColor solid;
      background-color: white;
      color: $mainColor;
    }
    .right-bar {
      width: 1.6rem;
      height: 0.54rem;
      line-height: 0.54rem;
      text-align: center;
      font-size: 0.24rem;
      border-radius: 0 0.06rem 0.06rem 0;
      float: left;
      border: 1px $mainColor solid;
      background-color: white;
      color: $mainColor;
    }
    .active-bar {
      color: #fff;
      background-color: $mainColor;
      border: 0;
    }
  }
  .train {
    display: none;
  }
  .station {
    .title {
      width: 100%;
      height: 0.4rem;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      line-height: 0.4rem;
      font-size: 0.24rem;
      color: #888;
    }
    .address {
      width: 100%;
      height: 1rem;
      line-height: 1rem;
      font-size: 0.44rem;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      color: $textRightColor;
    }

  }
  .line {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.24rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    .line-title {
      float: left;
      width: 1.2rem;
      color: #888;
    }
  }
  .button {
    background: $mainColor;
    border-radius: $btnRadius;
    color: white;
    text-align: center;
    width: 5.8rem;
    height: 0.86rem;
    line-height: 0.86rem;
    font-size: 0.34rem;
    margin: 0.5rem auto 0 auto;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .split-line {
    @include split-line();
  }
  .split-line-v {
    @include split-line-v();
    color: white;
    float: left;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .split-line {
      @include split-line-rate($line-R3);
    }
    .split-line-v {
      @include split-line-rate-v($line-R3);
    }

  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .split-line {
      @include split-line-rate($line-R2);
    }
    .split-line-v {
      @include split-line-rate-v($line-R2);
    }

  }

}