@import "../../css/wl-common";

.singer-list {
  background: $bgColor;
  position: absolute;
  width: 6.4rem;
  .title {
    margin: 0.3rem 0.2rem 0 0.2rem;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.27rem;
    border-left: 0.05rem solid $mainColor;
    padding-left: 0.1rem;
  }
  .list {
    margin: 0.3rem 0 0 0.2rem;
    background: $bgColor;
    $wid: 1.865rem;
    .item {
      position: relative;
      height: 2.2rem;
      width: $wid;
      display: inline-block;
      margin: 0 0.2rem 0.2rem 0;
      background: $bgColor;
      img {
        height: $wid;
        width: $wid;
      }
      .singer {
        width: $wid;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        font-size: 0.2rem;
      }
    }
  }
}
